
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-text mx-3">Hosanna Dashboard</sup></div>
        </a>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapseTwo2"
                aria-expanded="true" aria-controls="collapseTwo2">
                <span>Todos</span>
            </a>
            <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Periodo:</h6>
                    <a class="collapse-item" href="/pushes/all/all/all/1">Today</a>
                    <a class="collapse-item" href="/pushes/all/all/all/7">WTD</a>
                    <a class="collapse-item" href="/pushes/all/all/all/30">MTD</a>
                    <a class="collapse-item" href="/pushes/all/all/all/365"> YTD</a>
                </div>
            </div>
        </li>
        
                <!-- Divider -->
        <br>
        <hr class="sidebar-divider">
        <hr class="sidebar-divider">
        <br>

        <!-- Heading -->
        <div class="sidebar-heading">
            Subscription
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapseTwo3"
                aria-expanded="true" aria-controls="collapseTwo3">
                <span>Todos</span>
            </a>
            <div id="collapseTwo3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Periodo:</h6>
                    <a class="collapse-item" href="/pushes/subscription/all/all/1">Today</a>
                    <a class="collapse-item" href="/pushes/subscription/all/all/7">WTD</a>
                    <a class="collapse-item" href="/pushes/subscription/all/all/30">MTD</a>
                    <a class="collapse-item" href="/pushes/subscription/all/all/365"> YTD</a>
                </div>
            </div>
        </li>
        
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                <span>Español</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Day & Night:</h6>
                    <br>
                    <a class="collapse-item" href="/pushes/subscription/es/all/1">Today</a>
                    <a class="collapse-item" href="/pushes/subscription/es/all/7">WTD</a>
                    <a class="collapse-item" href="/pushes/subscription/es/all/30">MTD</a>
                    <a class="collapse-item" href="/pushes/subscription/es/all/365"> YTD</a>
                    <br>
                    <h6 class="collapse-header">Day:</h6>
                    <br>
                    <a class="collapse-item" href="/pushes/subscription/es/day/1">Today</a>
                    <a class="collapse-item" href="/pushes/subscription/es/day/7">WTD</a>
                    <a class="collapse-item" href="/pushes/subscription/es/day/30">MTD</a>
                    <a class="collapse-item" href="/pushes/subscription/es/day/365"> YTD</a>
                    <br>
                    <h6 class="collapse-header">Night:</h6>
                    <br>
                    <a class="collapse-item" href="/pushes/subscription/es/night/1">Today</a>
                    <a class="collapse-item" href="/pushes/subscription/es/night/7">WTD</a>
                    <a class="collapse-item" href="/pushes/subscription/es/night/30">MTD</a>
                    <a class="collapse-item" href="/pushes/subscription/es/night/365">YTD</a>
                </div>
            </div>
        </li>

        <hr class="sidebar-divider">

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapseUtilities"
                aria-expanded="true" aria-controls="collapseUtilities">
                <span>Ingles</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Day & Night:</h6>
                    <br>
                    <a class="collapse-item" href="/pushes/subscription/en/all/1">Today</a>
                    <a class="collapse-item" href="/pushes/subscription/en/all/7">WTD</a>
                    <a class="collapse-item" href="/pushes/subscription/en/all/30">MTD</a>
                    <a class="collapse-item" href="/pushes/subscription/en/all/365"> YTD</a>
                    <br>
                    <h6 class="collapse-header">Day:</h6>
                    <br>
                    <a class="collapse-item" href="/pushes/subscription/en/day/1">Today</a>
                    <a class="collapse-item" href="/pushes/subscription/en/day/7">WTD</a>
                    <a class="collapse-item" href="/pushes/subscription/en/day/30">MTD</a>
                    <a class="collapse-item" href="/pushes/subscription/en/day/365"> YTD</a>
                    <br>
                    <h6 class="collapse-header">Night:</h6>
                    <br>
                    <a class="collapse-item" href="/pushes/subscription/en/night/1">Today</a>
                    <a class="collapse-item" href="/pushes/subscription/en/night/7">WTD</a>
                    <a class="collapse-item" href="/pushes/subscription/en/night/30">MTD</a>
                    <a class="collapse-item" href="/pushes/subscription/en/night/365">YTD</a>
                </div>
            </div>
        </li>

        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapsePages"
                aria-expanded="true" aria-controls="collapsePages">
                <span>Portugues</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Day & Night:</h6>
                    <br>
                    <a class="collapse-item" href="/pushes/subscription/pt/all/1">Today</a>
                    <a class="collapse-item" href="/pushes/subscription/pt/all/7">WTD</a>
                    <a class="collapse-item" href="/pushes/subscription/pt/all/30">MTD</a>
                    <a class="collapse-item" href="/pushes/subscription/pt/all/365"> YTD</a>
                    <br>
                    <h6 class="collapse-header">Day:</h6>
                    <br>
                    <a class="collapse-item" href="/pushes/subscription/pt/day/1">Today</a>
                    <a class="collapse-item" href="/pushes/subscription/pt/day/7">WTD</a>
                    <a class="collapse-item" href="/pushes/subscription/pt/day/30">MTD</a>
                    <a class="collapse-item" href="/pushes/subscription/pt/day/365"> YTD</a>
                    <br>
                    <h6 class="collapse-header">Night:</h6>
                    <br>
                    <a class="collapse-item" href="/pushes/subscription/pt/night/1">Today</a>
                    <a class="collapse-item" href="/pushes/subscription/pt/night/7">WTD</a>
                    <a class="collapse-item" href="/pushes/subscription/pt/night/30">MTD</a>
                    <a class="collapse-item" href="/pushes/subscription/pt/night/365">YTD</a>
                </div>
            </div>
        </li>

                <!-- Divider -->
        <br>
        <hr class="sidebar-divider">
        <hr class="sidebar-divider">
        <br>

        <!-- Heading -->
        <div class="sidebar-heading">
            On Demand
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapseTwo4"
                aria-expanded="true" aria-controls="collapseTwo4">
                <span>Todos</span>
            </a>
            <div id="collapseTwo4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Periodo:</h6>
                    <a class="collapse-item" href="/pushes/on_demand/all/all/1">Today</a>
                    <a class="collapse-item" href="/pushes/on_demand/all/all/7">WTD</a>
                    <a class="collapse-item" href="/pushes/on_demand/all/all/30">MTD</a>
                    <a class="collapse-item" href="/pushes/on_demand/all/all/365"> YTD</a>
                </div>
            </div>
        </li>
        
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapseTwos"
                aria-expanded="true" aria-controls="collapseTwos">
                <span>Español</span>
            </a>
            <div id="collapseTwos" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Day & Night:</h6>
                    <br>
                    <a class="collapse-item" href="/pushes/on_demand/es/all/1">Today</a>
                    <a class="collapse-item" href="/pushes/on_demand/es/all/7">WTD</a>
                    <a class="collapse-item" href="/pushes/on_demand/es/all/30">MTD</a>
                    <a class="collapse-item" href="/pushes/on_demand/es/all/365"> YTD</a>
                    <br>
                    <h6 class="collapse-header">Day:</h6>
                    <br>
                    <a class="collapse-item" href="/pushes/on_demand/es/day/1">Today</a>
                    <a class="collapse-item" href="/pushes/on_demand/es/day/7">WTD</a>
                    <a class="collapse-item" href="/pushes/on_demand/es/day/30">MTD</a>
                    <a class="collapse-item" href="/pushes/on_demand/es/day/365"> YTD</a>
                    <br>
                    <h6 class="collapse-header">Night:</h6>
                    <br>
                    <a class="collapse-item" href="/pushes/on_demand/es/night/1">Today</a>
                    <a class="collapse-item" href="/pushes/on_demand/es/night/7">WTD</a>
                    <a class="collapse-item" href="/pushes/on_demand/es/night/30">MTD</a>
                    <a class="collapse-item" href="/pushes/on_demand/es/night/365">YTD</a>
                </div>
            </div>
        </li>

        <hr class="sidebar-divider">

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapseUtilitiess"
                aria-expanded="true" aria-controls="collapseUtilitiess">
                <span>Ingles</span>
            </a>
            <div id="collapseUtilitiess" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Day & Night:</h6>
                    <br>
                    <a class="collapse-item" href="/pushes/on_demand/en/all/1">Today</a>
                    <a class="collapse-item" href="/pushes/on_demand/en/all/7">WTD</a>
                    <a class="collapse-item" href="/pushes/on_demand/en/all/30">MTD</a>
                    <a class="collapse-item" href="/pushes/on_demand/en/all/365"> YTD</a>
                    <br>
                    <h6 class="collapse-header">Day:</h6>
                    <br>
                    <a class="collapse-item" href="/pushes/on_demand/en/day/1">Today</a>
                    <a class="collapse-item" href="/pushes/on_demand/en/day/7">WTD</a>
                    <a class="collapse-item" href="/pushes/on_demand/en/day/30">MTD</a>
                    <a class="collapse-item" href="/pushes/on_demand/en/day/365"> YTD</a>
                    <br>
                    <h6 class="collapse-header">Night:</h6>
                    <br>
                    <a class="collapse-item" href="/pushes/on_demand/en/night/1">Today</a>
                    <a class="collapse-item" href="/pushes/on_demand/en/night/7">WTD</a>
                    <a class="collapse-item" href="/pushes/on_demand/en/night/30">MTD</a>
                    <a class="collapse-item" href="/pushes/on_demand/en/night/365">YTD</a>
                </div>
            </div>
        </li>

        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapsePagess"
                aria-expanded="true" aria-controls="collapsePagess">
                <span>Portugues</span>
            </a>
            <div id="collapsePagess" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Day & Night:</h6>
                    <br>
                    <a class="collapse-item" href="/pushes/on_demand/pt/all/1">Today</a>
                    <a class="collapse-item" href="/pushes/on_demand/pt/all/7">WTD</a>
                    <a class="collapse-item" href="/pushes/on_demand/pt/all/30">MTD</a>
                    <a class="collapse-item" href="/pushes/on_demand/pt/all/365"> YTD</a>
                    <br>
                    <h6 class="collapse-header">Day:</h6>
                    <br>
                    <a class="collapse-item" href="/pushes/on_demand/pt/day/1">Today</a>
                    <a class="collapse-item" href="/pushes/on_demand/pt/day/7">WTD</a>
                    <a class="collapse-item" href="/pushes/on_demand/pt/day/30">MTD</a>
                    <a class="collapse-item" href="/pushes/on_demand/pt/day/365"> YTD</a>
                    <br>
                    <h6 class="collapse-header">Night:</h6>
                    <br>
                    <a class="collapse-item" href="/pushes/on_demand/pt/night/1">Today</a>
                    <a class="collapse-item" href="/pushes/on_demand/pt/night/7">WTD</a>
                    <a class="collapse-item" href="/pushes/on_demand/pt/night/30">MTD</a>
                    <a class="collapse-item" href="/pushes/on_demand/pt/night/365">YTD</a>
                </div>
            </div>
        </li>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <br>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <br>
                <br>
                <h3>Idioma: <%= @lang    %>   |   Momento: <%= @moment    %>   |   Tipo: <%= @type    %>   |   Periodo: <%= @interval    %></h3>
                <br>
                <br>
                <%= line_chart [
                    {name: "User Affeted", data: @affected }, 
                    {name:"User Delivered", data: @delivered}, 
                ]%>
                <br>
                <br>
                <%= line_chart [
                    {name:"Clicked", data: @clicked}, 
                ]%>
                <br>
                <br>
                <!-- Content Row -->
                <div class="row">
                    <% @pushes.each do |pushess| %>
                        <% pushess.each do |push| %>
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="h4 text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Imagen:
                                                </div>
                                                <% unless JSON.parse(push["message"])[0]["payload"].nil? %>
                                                    <% unless JSON.parse(push["message"])[0]["payload"]["article"].nil? %>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            <img src='<%= JSON.parse(push["message"])[0]["payload"]["article"]["cover_image"] %>' alt="" width="200" height="200" /> 
                                                        </div>
                                                    <% else %>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            <img src='https://farmaciasannicolas.com/Producto/GetMultimediaProducto?idProducto=b332069b-e792-4635-92ae-021886179fa8&idMultimedia=a17ceecf-2afc-424d-9adb-021ca9a2116c' alt="" width="200" height="200" /> 
                                                        </div>
                                                    <% end %>
                                                <% end %>
                                                <div class="h4 text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Id:
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    <%= push["id"] %>
                                                </div>
                                                <div class="h4 text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Title:
                                                </div>
                                                <% unless JSON.parse(push["message"])[0]["payload"].nil? %>
                                                    <% unless JSON.parse(push["message"])[0]["payload"]["article"].nil? %>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            <%= JSON.parse(push["message"])[0]["title"] %>                                                    
                                                        </div>
                                                    <% else %>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            ---
                                                        </div>
                                                    <% end %>
                                                <% end %>
                                                <div class="h4 text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Send_at:
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    <%= push["send_at"] %>
                                                </div>
                                                <div class="h4 text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Created_at:
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    <%= push["created_at"] %>
                                                </div>
                                                <div class="h4 text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Tipo:
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    <%= push["type"] %>
                                                </div>
                                                <div class="h4 text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Usuarios afectados:
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    <%= push["affected_users"] %>
                                                </div>
                                                <div class="h4 text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Entregados:
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    <%= push["delivered"]  %> (<%= (push["delivered"].to_f / push["affected_users"].to_f * 100).round(2)%>%)
                                                </div>
                                                <div class="h4 text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Fallidos:
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    <%= push["failed"] %>
                                                </div>
                                                <div class="h4 text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Clicks:
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    <%= push["clicks"]  %> (<%= (push["clicks"].to_f / push["delivered"].to_f * 100).round(2)%>%)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                    
                        <% end %>
                    <% end %>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

